button {
    background-color: #4CAF50;
    color: white;
    padding: 16px 20px;
    margin: 15px 122px;
    border: none;
    cursor: pointer;
    width: 50%;
    opacity: .8;
}

button:hover {
    opacity: 1;
}