button {
    background-color: #6967c9;
    color: white;
    padding: 20px 40px;
    cursor: pointer;
    font-weight: bold;
    border-radius: 8px;
    
}

button:hover {
    background-color:  #4b4a9e;
}