/* .RegForm > div > label {
    font-weight: 600;
    font-size: 18px;
    color: #1b1b1b;
  }
  
  .RegForm {
    padding: 10px;
    width: 100%;
    margin: 10px;
  }
  
  .button-wrapper > a {
    
    font-weight: bold;
  }
  
  @media all and (min-width: 460px) {
    .RegForm {
      width: 400px;
    }
  } */