form {
    
    justify-content: center;
    padding: 16px;
    background-color: white;
}

input {
    width:100%;
    padding: 15px;
    margin: 5px, 5px, 22px, 5px;
    display: inline-block;
    border: none;
    background: #f1f1f1;
}

input:focus {
    background-color: #ddd;
    outline: none;
}

