.words-card {
    display: flex;
    justify-content: center;
    /* flex-wrap: wrap; */
    flex-direction: column;
    padding: 15px;
    margin: 5px;
    background-color: #83acf5;
    border: 2px solid black;
    border-radius: 8px;
}

.words-table {
    list-style-type: none;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    
    
    
}


@media screen and (min-width: 768px){

    .words-card{
        font-size: 28px;
    }

    .words-table{    
        max-width: 450px;  
    }
  }